.DS_Store
Thumbs.db
db.json
*.log
public/
.deploy*/
_multiconfig.yml
.vscode/*
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml